#container{
	width: 800px;
	margin : auto;
	border: 1px solid black;	
}

#nav{
	width: 199px;
	height: 760px;
	float: left;
	border: none;
}

#header{
	width: 598px;
	height: 150px;
	font-size: 3em;
	color: #AFAFAF;
	line-height: 1.1em;
	letter-spacing: -0.04em;
	background: white;
	position: relative;
	left: 201px;
}

#header div{
	
	
}

#sidebar{
	width: 598px;
	position: relative;
	left: 201px;
}

#footer{
	width: 598px;
	height: 97px;
	color: #B86443;
	display: block;
	font-size: 90%;
	position: relative;
	left: 201px;
	
}

#content{
	width: 598px;
	position: relative;
	left: 201px;
	
}

div{
	border: 1px solid black;

}

html, body {
	margin:0;
	padding:0; 
	
}

#nav ul{
	margin: 0 uato;
	padding: 2px  0 0 0;
	border-top: 1px dotted #AFAFAF;
	border-bottom: 1px dotted # AFAFAF;
	text-align: center;
	width: 100%;
	
}

ul li{
	list-style-type: none;
	margin: 0;
	padding:0;
	display: inline;
}

#nav ul li a{
	padding: 0 20 px;
	line-height: 40px;
	text-align: center;
	
}

#nav ul li a:hover, #nav u lli a.active{
	color: #333;
	
}

a.info{
	background: url('../images/info.gif') no-repeat left center;
	
}

h2{
	font-size: 1.4em;
	font-weight: bold;
	color: #333;	
}

#content LI a{
	text-decoration: none;
	color: #333;
	display: block;
	color: #afafaf;
	font-size: 103%;

}

#footer a{
	color: #afafaf;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	
}


